In [ ]:
# This is my first page

# Markdown cell is created

This is an introductory sentence, created in `Markdown`

Data Science Languages are:
- Python
- R
- SQL
- C++
- Java

Data Science Libraries are:
- Scrapy
- Numpy
- SciPy
- Sympy
- Pandas
- Scikit-Learn
- PyTorch
- TensorFlow

Table of Data Science Tools is:

|***No. #***| ***Tools*** |
|   :---:   |  :---:      |
|     01    | Apache Spark|
|     02    | BigML       |
|     03    | D3.js       |
|     04    | SAS         |
|     05    | MATLAB      |

Arithmetic expressions are: $\newline$
1 + 2 = 3 $\newline$
45 / 5

In [1]:
1 + 2 # Addition

3

In [2]:
3 * 3 # Multiplication

9

In [5]:
# Conversion from minutes to hours

minutes = 180
hour = minutes / 60
print(hour)

3.0

Introductory sentence by an unordered list.
Data Science, Machine Learning, Data Analyst
Numpy, Pandas, Sympy

## Author's Detail
- **Name:** Hamza Shafiq
- **Education:** MS/MPhil in Mathematics